{% load static %}
<!DOCTYPE html>
<html>
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PSTSHZ7');</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NH3P4S811V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NH3P4S811V');
</script>

<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="HyunBin You, HyunBin, Binnie, You, Nursing, PhD"/>
<meta name="description" content="The Curriculum Vitae of Binnie You.">
<meta name="google-site-verification" content="Sz23jd2f8sI27Vm1jKQh0fcmZFcyXKQ6qMSz6ycAuSk" />

<title>HyunBin (Binnie) You - Nursing Postdoctoral Scholar at Vanderbilt</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!--Custom fonts for this template-->
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap" type="text/css">
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Lato&display=swap" type="text/css">
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Stylish&display=swap" type="text/css">
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" type="text/css">
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Rock+Salt&display=swap" type="text/css">
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' type='text/css'>
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" type="text/css">

<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="page-top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSTSHZ7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<!-- Start Navigation bar-->
	<div class="navbar navbar-expand-lg navbar-default navbar-fixed-top justify-content-between" style="background-color: #f0f0f0;">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand js-scroll-trigger" href="/" style="color: indianred;">
					<span > HyunBin You </span>
				</a>

				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                
				</button>
			</div>
			
			
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#entry-header"> Home </a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="page-top"> 
							CV <b class="caret"></b>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a href="#focus"> Research Interest </a></li>					
							<li><a href="#education"> Education </a></li>
							<li><a href="#experience"> Research Experience </a></li>
							<li><a href="#publication"> Publications </a></li>
							<li><a href="#licensure"> Licensure </a></li>
							<li><a href="#etc"> Miscellaneous </a></li>
						</ul>
					</li>
					<li><a href="blog"> Blog </a></li>
					<li><a href="#contact"> Contact </a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Navigation bar-->


	<div id="content-container">
		<!-- #entry-header -->
		<section id="entry-header">
			<div id="profile" >
				<img src="{% static 'images/pic3.jpeg' %}" class="img-fluid" alt="Profile-pic">
			</div>
			
			<h1 class>
				<a href="//www.linkedin.com/in/hyunbin-binnie-you">HyunBin (Binnie) <span style="color: indianred;"> You
						<a id="cy-effective-orcid-url"
						class="underline"
						href="https://orcid.org/0000-0002-6526-7377"
						target="orcid.widget"
						rel="me noopener noreferrer"
						style="vertical-align: top">
						<img
							src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
							style="width: 0.9em; margin-inline-start: 0em"
							alt="ORCID iD icon"/>
						</a></span>
				</a>
			</h1>
			<h1><span style="font-family: stylish; font-size: 1.5em; margin-top: 0px; padding-left: 0.3em;">유현빈 </span></h1>
			<div class="sectionContent">
				<h2 style="color: #000000; font-size: 1.3em;"> 
					Postdoctoral scholar at 
					<a href="//nursing.vanderbilt.edu/">Vanderbilt University School of Nursing </a> <br>
					Faculty mentor: Dr. <a href="//nursing.vanderbilt.edu/people/bio/leanne-boehm">Leanne Boehm</a> <br>
					<a href="mailto:hyunbin.you@vanderbilt.edu" target="_blank"> hyunbin.you@vanderbilt.edu </a>
					・ <a href="//maps.app.goo.gl/WsBs8D9ayWiAmCBe7"> 421 Godchaux Hall, Nashville, TN 37240 </a><br>
					<a href="//twitter.com/HyunbinYou" class="twitter-follow-button" data-show-count="false">Follow @HyunbinYou</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					・ <a href="//www.linkedin.com/in/hyunbin-binnie-you/"> <img src="{% static 'images/LI-In-Bug.png' %}" style="width: 1.1em; margin-inline-start: 0em" class="img-fluid" alt="LinkedIn-Logo"></a>
					<br>
				</h2>
			</div>
		</section>


		<section id="focus">
			<div class="sectionTitle">
				<h1> Research Interest </h1>
			</div>

			<div class="sectionContent" >
				<article>
					<ul>
						<li> Transitional Care </li>
						<li> Role of Nurses </li>
						<li> Acute Respiratory Distress Syndrome </li>
						<li> Post-Acute Care </li>
						<li> Quality of Life </li>
						<li> Shared Decision-making </li>
						<li> Family Caregiving </li>
						<li> Health Disparities </li>
						<li> Resilience </li>
						<li> Patient Experience </li>
						<ul style="font-size: 1em;"> I am a postdoctoral scholar at Vanderbilt University School of Nursing and a critical care nurse. I am passionate about improving care, and the health and well-being of ICU patients who are transitioning home after acute hospital care and their families. I am particularly interested in advancing our understanding of the role of ICU nurses in patient- and family-centered transitional care planning and decision-making for ICU patients and their families. My long-term goal is to develop and test patient- and family-centered ICU transitional care interventions to improve patient quality of life and decrease caregiver strain for ICU patients and their families during the transition to home after acute hospital care through research. </ul>
					</ul>
					<br>
					<br>
				</article>
			</div>
		</section>

		<section>		
			<div class="sectionContent" >
				<article>
					<h1> Updates </h1>
					<ul>
						<li><span style="font-size: 1.3em; font-family: 'Oswald', sans-serif;"> Please <a href="https://drive.google.com/file/d/1rjVR-lY2MChQvVEequ8nwlvngBngoM1y/view?usp=sharing" download> click here </a> to view my CV </span> 
						</li>

						<li><span style="font-size: 1.3em; font-family: 'Oswald', sans-serif;"> 2024 </span> 
							<ul>
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> August 2024: </span> So excited to start my new position as a postdoctoral scholar at Vanderbilt University School of Nursing! </li>
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> May 2024: </span> I got my PhD degree from Duke!! Thank you all for your support along this journey :) </li>
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> March 2024: </span> Successfully defended my dissertation (Transitional Care for Intensive Care Unit Patients and Their Families)! </li>
							</ul>
						</li>
						
						<li><span style="font-size: 1.3em; font-family: 'Oswald', sans-serif;"> 2023 </span> 
							<ul>
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> February 2023: </span> My <a href="//pubmed.ncbi.nlm.nih.gov/36790912/">first-authored paper</a> was published at the Annals of the ATS! </li>
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> April 2023: </span> I passed my dissertation proposal defense and I'm now a PhD Candidate! </li>
							</ul>
						</li>

						<li><span style="font-size: 1.3em; font-family: 'Oswald', sans-serif;"> 2022 </span> 
							<ul>
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> June 2022: </span> I gave an oral presentation at the AcademyHealth 2022 Annual Research Meeting about racial differencess in shared decision-making in the ICU! </li>	
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> June 2022: </span> I passed my preliminary exam!</li>							
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> May 2022: </span> I received the Scholarly and Professional Development Award from the Beta Epssilson Chapter of Sigma Theta Tau International! </li>								
							</ul>
						</li>

						<details style="border: none;">
							<summary><span style="font-size: 1.3em; font-family: 'Oswald', sans-serif;"> &gt; Before 2021 (Click for details) </span></summary>
							<p>
							<li><span style="font-size: 1.3em; font-family: 'Oswald', sans-serif;"> 2021 </span> 
								<ul>
									<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> August 2021: </span> I gave my first presentation at the Korean Society of Adult Nursing 2021 International Conference virtually, about anxiety and family needs among family members of Korean ICU patients! </li>
								</ul>
							</li>
						
							<li><span style="font-size: 1.3em; font-family: 'Oswald', sans-serif;"> 2020 </span> 
							<ul>
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> Novermber 2020: </span> I got featured in <a href="//nursing.duke.edu/student-success/binnie-you">Student Success page</a> in Duke University School of Nursing Website! </li>
								<li><span style="font-size: 1.0em; font-family: 'Oswald', sans-serif;"> August 2020: </span> I started as a PhD student in Nursing at Duke! </li>
							</ul>
							</p>
						</details>

							<span style="font-family: 'Oswald', sans-serif; font-size: 1.2em; color: indianred; float: right;"> Last updated: August 5, 2024 </span>
							<br>
					</ul>
				</article>
			<div>
			<br>
		</section>


		<!-- Contact -->
		<section id="contact">
			<div class="sectionTitle">
				<h1> Contact </h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h1 style="color: #000000; text-align: left; font-size: 1.3em;"> If you have any questions, feel free to reach me through, </h1>
					<ul style="font-family: Oswald;"> Email : <a href="mailto:hyunbin.you@vanderbilt.edu" target="_blank" style="color: indianred;"> hyunbin.you@vanderbilt.edu </a></ul>
					<ul style="font-family: Oswald;">Address : <a href="//maps.app.goo.gl/WsBs8D9ayWiAmCBe7" style="color: indianred;"> 421 Godchaux Hall, Nashville, TN 37240 </a></ul>
					<ul style="font-family: Oswald;">Twitter : <a href="//twitter.com/HyunbinYou" style="color: indianred;"> @HyunbinYou </a></ul>
					
				</article>
			
			</div>
			<div class="clear"></div>
		</section>
		<!-- Contact end-->
	</div>


		{% comment %} <!-- Education -->
		<section id="education">
			<div class="sectionTitle">
				<h1> Education </h1><br>
			</div>
			<div class="sectionContent" >
				<h1 style="color: #000000;"> Duke University </h1>
					<h3 style="font-family: Oswald; margin-top: 0.2em; color: indianred;"> Ph.D. in Nursing </h3>
						<ul>Advisor & Dissertation Chair: Dr. <a href="//scholars.duke.edu/person/Tolulope.Oyesanya">Tolu Oyesanya</a> </ul>
						<ul>Dissertation Title: <i>Transitional Care for Intensive Care Unit Patients and Their Families</i></ul>
						<ul><span class="date"> August 2020 – present </span></ul>
				<br>

				<h1 style="color: #000000;"> Seoul National University </h1>
					<h3 style="font-family: Oswald; margin-top: 0.2em; color: indianred;"> M.S. in Nursing (Major in Adult Nursing) </h3>
						<ul>Advisor: Dr. <a href="//nursing.snu.ac.kr/faculty/professor?mode=view&profidx=7" style="color:#0B589B;">Chin-Kang Koh</a> </ul>
						<ul>Thesis Title: <i>Anxiety and critical care needs of the families in the ICU</i></ul>
						<ul><span class="date"> March 2017 – August 2019 </span></ul>
				<br>

				<h1 style="color: #000000;"> Seoul National University </h1>
					<h3 style="font-family: Oswald; margin-top: 0.2em; color: indianred;"> B.S. in Nursing </h3>
						<ul style="font-size: 1.1em">Graduated with honors (Cum Laude) </ul>
						<ul><span class="date"> March 2011 – February 2015 </span></ul>
				<br>
				
				<h1 style="color: #000000;"> University of California Los Angeles </h1>
					<h3 style="font-family: Oswald; margin-top: 0.2em; color: indianred;"> Academic Tour Program </h3>
						<ul><span class="date"> Summer 2013 </span></ul>
				<br>
			</div>

		</section>
		<!-- Education end -->
		<br/>

		<!-- Experience -->
		<section id="experience">
			<div class="sectionTitle">
				<h1> Research and Work Experience </h1>
			</div>

			<!-- Research Experience -->
			<div class="sectionContent" >
				<h1> Research Experience </h1>
				
				<article style="display: none;">
					<h2 style="font-family: Oswald;"> Institution Name | <span class="date"> May 2021 – present </span> </h2>				
						<h3> Role: Graduate Research Assistant  TEMPLATE </h3>  <!--NEED TO FIX the heading in Research experience -->
							<ul>Mentor: <a href="//scholars.duke.edu/person/Tolulope.Oyesanya">Tolu Oyesanya</a>, Ph.D., RN; Associate Professor </ul>
							<ul>Project Name: (GRANT #) </ul>
								<li> Project Goal:  </li>
				</article>
				<br>

				<article>
					<h2 style="font-family: Oswald;"> Duke University </h2>
						<h3> Graduate Research Assistant  |  <span class="date"> October 2020 – Present </span> </h3> 
							<ul>Mentor: <a href="//scholars.duke.edu/person/Tolulope.Oyesanya">Tolu Oyesanya</a>, Ph.D., RN; Associate Professor </ul>
							<ul>Project 1: A Randomized Controlled Trial of BETTER, A Transitional Care Intervention, for Diverse Patients with Traumatic Brain Injury and Their Families (NINR 1R01NR020818) </ul>
								<li> Project Goal: To examine the efficacy of BETTER (vs. usual care) among younger adults with TBI of various races/ethnicities who are discharged home from acute hospital care and families. </li>
							
							<br>
							<ul>Project 2: Inclusion of Spanish-speaking Patients with Traumatic Brain Injury and Families in Transitional Care Interventions (REACH Equity Vouchers Award; Parent grant: NIH/NIMHD U54MD012530) </ul>
								<li> Project Goal: To linguistically and culturally adapt our transitional care intervention to be suitable for Spanish-speaking participants and to build the capacity to enroll Spanish-speaking participants. </li>

							<br>
							<ul>Project 3: Reducing Disparities in the Transition from Hospital to Home for Patients with TBI & Families (REACH Equity Vouchers Award; Parent grant: NIH/NIMHD U54MD012530) </ul>
								<li> Project Goal: To develop and refine a patient- and family-centered transitional care intervention for racial/ethnic minority patients with TBI discharged home from acute hospital care and their families and to establish a feasible and acceptable process for measuring recovery after discharge for the same population.</li>

							<br>
							<ul>Project 4: Enhancing the Transition from Hospital to Home for Patients with Traumatic Brain Injury and Families (NIH/NICHD R03 HD101055) </ul>
								<li> Project Goal: To develop and pilot test of patient- and family-centered transitional care intervention for patients with traumatic brain injury discharge home from acute hospital care. </li>
							<br>

						<h3> Research Practicum Trainee  |  <span class="date"> Jan 2022 – Apr 2022 </span> </h3>  
							<ul> Mentor: <a href="//medicine.duke.edu/profile/deepshikha-ashana">Deepshikha C. Ashana</a>, MD, MBA, MS; Associate Professor </ul>
							<ul>Project Name: Racial disparities in shared decision making for patients with acute respiratory failure (NIH/NHLBI K23 HL164958) </ul>
								<li> Project Goal: To develop a clinician-facing intervention to reduce racial disparities in shared decision making for patients with acute respiratory failure </li>
							<br>

						<h3> Graduate Research Assistant  |  <span class="date"> Jan 2021 – Aug 2021 </span> </h3>
							<ul>Mentor: <a href="//scholars.duke.edu/person/karin.reuter-rice">Karin Reuter-Rice</a>, Ph.D., RN; Associate Professor </ul>
							<ul>Project Name: Environmental Sensors in the Pediatric Intensive Care Unit: Examining the Relationship of Light and Sound to Pediatric Sleep and Delirium Risk (ES-PICU) (World Federation of Pediatric Intensive & Critical Care Services) </ul>
								<li> Project Goal: To examine the role of the pediatric intensive care unit environment on the role of sleep disruption and risk for delirium. In addition we are also interested in identifying the potential biologic responses in children in the PICU as a result of the environment</li>
							<br>
									
				</article>
				<br>

				<article>
					<h2 style="font-family: Oswald;"> Seoul National University </h2>
						<h3> Research Assistant  |  <span class="date"> September 2019 - April 2020 </span></h3>
							<ul> Chronic Illness Research Lab, Seoul National University College of Nursing </ul>
							<ul>PI: <a href="//nursing.snu.ac.kr/faculty/professor?mode=view&profidx=9" style="color:#0B589B;">Yeon-Hwan Park</a>, Ph.D., RN; Professor </ul>
							<ul>Project Name: Development and Evaluation of a Community Based Integrated Service of Health and Social Care for Older Adults Living Alone (Korea Health Industry Development Institute (KHDI) Korea Health Technology R&D Project HI18C1284)</ul>
								<li> Project Goal: To develop and evaluate “Community Based Integrated Service of Health and Social Care for Older Adults Living Alone”, considering the complex needs of the elderly population living alone </li>
				</article>
				<br>
			</div>

			<!-- RN Experience -->
			<div class="sectionContent">
				<h1> Work Experience </h1>
				<article>
					<h2 style="font-family: Oswald;"> Seoul National University Hospital </h2>
						<h3> Registered Nurse </h3>
							<ul> Medical Intensive Care Unit </ul>
							<ul><span class="date"> September 2015 - March 2019 </span></ul>
							<li> Provided acute care to hemodynamically unstable and respiratory distressed internal medicine patients who require ICU care such as mechanical ventilation, various drug support, frequent mental status assessment, and other close monitoring. </li>

				</article>
				<br>
			</div>
			<div class="clear"></div>
			
		</section>
		<!-- Experience end -->

		<!-- Publications -->
		<section id="publication">
			<div class="sectionTitle">
				<h1> Publications </h1>
			</div>
			
			<div class="sectionContent">

				<h1 style="color: indianred;"> 2024 </h1>
				<article>
					<h3> Transition of ICU patients and their families to home after acute hospital care </h3>
					<ul> <u>You, H.</u>, Docherty, S. L., Ashana, D. C., & Oyesanya, T. O. </ul>
					<ul> AACN Advanced Critical Care, In press.</ul>
					<ul style="display: none;"> <!--EDIT THIS BLOCK-->
						
						<a href="#" onclick="toggle_block('bibtex-article1');"> [BibTex] </a>
						<a href="#" onclick="toggle_block('detail-article1');"> [Details] </a>
						<pre id="bibtex-article1" style="display: none; transform: translate(-155px, 15px); font-size: 1.2em;"> 
							[BibTex 내용 끌어오기]
						</pre>
						<div id="detail-article1" style="text-align: justify; display: none;">
							[Abstract content- 눌렀을 때 내용이 보이도록]
						</div>
						<details>
							<summary> [Details] </summary>
								<div id="detail-article1" style="text-align: justify;">
							<p>[Abstract content- 눌렀을 때 내용이 보이도록] </p>
						</details>
					</ul>
				</article>

				<h1 style="color: indianred;"> 2023 </h1>
				<article>
					<h3> A thematic analysis of racial differences in shared decision-making about critical illness </h3>
					<ul> Ashana, D. C., Welsh, W., Preiss, D., Sperling, J., <u>You, H.</u>, Tu, K., Carson, S., Kerlin, M., Hough C., White D. B., Docherty, S., Johnson, K., & Cox, C. E. </ul>
					<ul> JAMA Internal Medicine, In press.</ul>
				</article>

				<article>
					<h3> The BETTER traumatic brain injury transitional care intervention: A feasibility study </h3>
					<ul> Oyesanya, T. O., Loflin, C., <u>You, H.</u>, Myers, J., Kandel, M., Johnson, K., Strauman, T., Hawes, J., Byom, L., Gonzalez-Guarda, R., Van Houtven, C., Agarwal, S., & Bettger, J. P. </ul>
					<ul> Western Journal of Nursing Research, 45(10), 902-912. <a href="//pubmed-ncbi-nlm-nih-gov.proxy.lib.duke.edu/37542381/"> [Details] </a></ul>
				</article>
				
				<article>
					<h3> How subjective and objective factors in research and practice may perpetuate health disparities amongst patients with traumatic brain injury </h3>
					<ul> Johnson, K., <u>You, H.</u>, Kandel, M., & Oyesanya, T. O. </ul>
					<ul> American Journal of Physical Medicine & Rehabilitation, 102(10), 923-925. <a href="//pubmed-ncbi-nlm-nih-gov.proxy.lib.duke.edu/37205611/"> [Details] </a></ul>
				</article>

				<article>
					<h3> Racial differences in physicians’ shared decision-making behaviors during intensive care unit family meetings </h3>
					<ul> <u>You, H.</u>, Ma, J. E., Haverfield, M. C., Oyesanya, T. O., Docherty, S. L., Johnson, K. S., Cox, C. E., Ashana, D. C. </ul>
					<ul>Annals of the American Thoracic Society, 20(5), 759-762. <a href="//pubmed-ncbi-nlm-nih-gov.proxy.lib.duke.edu/36790912/"> [Details] </a> </ul>
				</article>
				
				<br>
				<h1 style="color: indianred;"> 2022 </h1>
				<article>
					<h3> Design, methods, and baseline characteristics of the Brain Injury Education, Training, and Therapy to Enhance Recovery (BETTER) feasibility study: A transitional care intervention for younger adult patients with traumatic brain injury and caregivers </h3>
					<ul> Oyesanya, T. O., Loflin, C., <u>You, H.</u>, Kandel, M., Johnson, K., Strauman, T., Yang, Q., Hawes, J., Byom, L., Gonzalez-Guarda, R., Van Houtven, C., Agarwal, S., & Bettger, J. P. </ul>
					<ul>Current Medical Research & Opinion, 38(5), 697-710. <a href="//pubmed-ncbi-nlm-nih-gov.proxy.lib.duke.edu/35174756/"> [Details] </a> </ul>
				</article>

				<br>
				<h1 style="color: indianred;"> 2019 </h1>
				<article>					
					<h3> Anxiety and critical care needs of the families in the ICU </h3>
					<ul><u>HyunBin You</u></ul>
					<ul> Master's Thesis. Seoul National University (In Korean). <a href="//www.riss.kr/link?id=T15400315"> [Details] </a> </ul>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		<!-- Publications end -->

		<!-- Certification and Licensure -->
		<section id="licensure">
			<div class="sectionTitle">
				<h1> Certification and Licensure </h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h1> Licensure </h1>
						<h3> Registered Nurse </h3>
							<ul> 
								<li style="margin-bottom: 0px;"> Korea #XXX238 </li>
								<li style="margin-bottom: 0px;"> New York, USA #XXX395 </li>
								<li style="margin-bottom: 0px; display: none;"> North Carolina, USA # </li>
									<ul style="display: none;"><li><span class="date" style="font-size: 0.7em;"> Active/Inactive </span></li></ul>
							</ul>
				</article>
				
				<article style="display: none;">
					<h1> Certification </h1>
						<h3> Certificate in Nursing Education </h3>
							<ul>
								<li style="font-size: 1.2em; margin-bottom: 0px;"> Duke University </li>
									<ul><li><span class="date" style="font-size: 0.7em;"> Month Year </span></li></ul>
							</ul>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<!-- Licensure end -->


		<!-- etc -->
		<section id="etc">
			<div class="sectionTitle">
				<h1> Miscellaneous </h1>
			</div>
			
			<div class="sectionContent">
				<!-- Grants -->
				<article style="display: none;">
					<h1> Grants </h1>
						<h3> Grant # (PI Name)  </h3>
							<ul><span class="date"> March 2019 – February 2020 (12 months) </span></ul>
							<ul> 
								<li> Amount of grants ($ XXXXX ) </li>
								<li> National Institutes of Health, AA Institute </li>
								<li> PROJECT Name</li>
								<li> Role: my-role </li>
							</ul>
						<br>

					<h1> Presentation  </h1>
						<ul> Month Year, Poster Presentation, [at Where] </ul>
				</article>
				<br>

				<!-- Honors & Awards -->
				<article>
					<h1> Honors & Awards </h1>
						<h2> 2023</h2>
							<h3> Summer Research Fellowship </h3>
								<ul> <span class="date"> Duke University </span> </ul>
						<br>

						<h2> 2022</h2>
							<h3> Scholarly and Professional Development Award</h3>
								<ul> <span class="date"> Sigma Theta Tau Internalional, Beta Epsilon Chapter </span> </ul>							
							<h3> Summer Research Fellowship </h3>
								<ul> <span class="date"> Duke University </span> </ul>
							<h3> American Thoracic Society (ATS) Student Scholars Program </h3>
								<ul> <span class="date"> American Thoracic Society </span> </ul>
						<br>
						<h2>2021</h2>
							<h3> North Carolina Korean Nurses Association (NCKNA) Scholarship</h3>
								<ul> <span class="date"> North Carolina Korean Nurses Association </span> </ul>
							<h3> Summer Research Fellowship </h3>
								<ul> <span class="date"> Duke University </span> </ul>

						<br>
						
						<details style="border: none;">
							<summary> <h2>&gt; Before 2020 - Korea (Click for details)</h2> </summary>
							<p>
								<h3> Semester High Honors, Seoul National University </h3>
									<ul> <span class="date"> Spring 2018, Fall 2018 </span> </ul>
									<ul> <li style="font-size: 0.9em;">Merit-based</li> </ul>
									
								<h3> Excellence Award in Nursing Students Research Award </h3>
									<ul> <span class="date"> June 2014 </span> </ul>
									<ul> <li style="font-size: 0.9em; ">Granted by the director of the Research Institute of Nursing Science, Seoul National University</li> </ul>
									<ul><li style="font-size: 0.9em;"> Group undergraduate thesis </li></ul>

								<h3> LA Alumni Scholarship </h3>
									<ul> <span class="date"> Spring 2014 </span> </ul>
									<ul> <li style="font-size: 0.9em;">Merit-based</li> </ul>
								
								<h3> SNU Development Fund Scholarship </h3>
									<ul> <span class="date"> Fall 2013 </span> </ul>
									<ul> <li style="font-size: 0.9em;">Merit-based</li> </ul>

								<h3> Semester High Honors, Seoul National University </h3>
									<ul> <span class="date"> Spring 2012, Fall 2012, Fall 2013, Fall 2014 </span> </ul>
									<ul> <li style="font-size: 0.9em;">Merit-based</li> </ul>
							</p>
						</details>

				</article>
				<br>

				<!-- Talks & Presentations -->
				<article>
					<h1> Talks & Presentations </h1>
						<h2 style="font-family: Oswald; margin-top: 1em; display: none;"> Talk </h2>
							<h3 style="display: none;"> Talk 1, <span class="date"> Month Year</span> </h3> 
								<ul style="display: none;">Oral Presentation, [at Where] </ul>
						<h2 style="font-family: Oswald; margin-top: 1em;"> Presentations </h2>
							<h3> BETTER: A TBI transitional care program,<span class="date"> September 2023</span></h3>
								<ul>Tolu O. Oyesanya, Melissa, Kandel, <u>HyunBin You</u></ul>
								<ul>Oral Presentation, Duke Therapy Grand Rounds [Virtually held] </ul>
								<ul>Audience: Professional & Clinical</ul>
							<h3> Racial differences in shared decision-making discussions in the intensive care unit: A thematic analysis,<span class="date"> June 2022</span></h3>
								<ul>Whitney Welsh, <u>HyunBin You</u>, Karissa Tu, Doreet Preiss, Jessica Sperling, Deepshikha C. Ashana</ul>
								<ul>Podium Presentation, AcademyHealth 2022 Annual Research Meeting [Washington, D.C., United States] </ul>
								<ul>Audience: Professional</ul>
							<h3> Racial and ethnic differences in shared decision-making behaviors during intensive care unit family meetings: A rapid analysis,<span class="date"> May 2022</span> </h3>
								<ul><u>HyunBin You</u>, Jessica Ma, Marie C. Haverfield, Christopher E. Cox, Tolu O. Oyesanya, Deepshikha C. Ashana</ul>
								<ul> Poster Presentation, American Thoracic Society 2022 International Conference [San Francisco, CA, United States] </ul>
								<ul>Audience: Professional & Clinical</ul>
							<h3> Racial disparities in intensive care unit shared decision making, <span class="date"> November 2021</span> </h3>
								<ul>Deepshikha C. Ashana, <u>HyunBin You</u>, Jessica Ma</ul>
								<ul> Oral Presentation, Duke Palliative Care Grand Rounds [Virtually held] </ul>
								<ul>Audience: Professional & Clinical</ul>							
							<h3> Anxiety and family needs among family caregivers of intensive care unit patients in South Korea, <span class="date"> August 2021</span> </h3>
								<ul><u>HyunBin You</u> and Chin-Kang Koh</ul>
								<ul>Oral Presentation, Korean Society of Adult Nursing 2021 International Conference [Virtually held] </ul>
								<ul>Audience: Professional</ul>
							
							
							
				</article>
				<br>
				
				<!-- Teaching -->
				<article>
					<h1> Teaching </h1>
						<h2 style="font-family: Oswald;"> Teaching Practicum Trainee </h2>
							<h3> University of North Carolina at Chapel Hill, Chapel Hill, NC </h3>
								<ul><li> NURS 352 Pathophysiology/Pharmacology Across the Lifespan II (undergraduate-level)</li>
									<ul style="font-size: 0.9em;">
										<li> Instructors: Drs. Michael Bury and Megan Ross</li>
										<li><span class="date">Spring 2024</span></li>
									</ul>
								</ul>
							<h3> Duke University, Durham, NC </h3>
								<ul><li> NUR 911. Introductory Statistics (graduate-level; 3-credit)</li>
									<ul style="font-size: 0.9em;">
										<li> Instructor: Dr. Qing Yang</li>
										<li><span class="date">Fall 2021</span></li>
									</ul>
								</ul>	

						<h2 style="font-family: Oswald;"> Graduate Teaching Assistant </h2>
							<h3> Duke University, Durham, NC </h3>
								<ul><li> NUR 903. The General Linear Models (graduate-level; 3-credit)</li>
									<ul style="font-size: 0.9em;">
										<li> Instructor: Dr. Susan G Silva </li>
										<li><span class="date">Summer 2021</span></li>
									</ul>
								</ul>

				</article>
				<br>

				<!-- Mentoring -->
				<article>
					<h1> Mentoring Experiences</h1>
						<h2 style="font-family: Oswald;"> Duke University, Durham, NC </h2>
							<ul>
								<li> Peer Mentor | <span class="date">Aug 2023 – Present</span></li>
								<li> Mentoring Student Panel (Audience: Doctoral students) | <span class="date">Aug 2023</span></li>
								<li> Mentoring Student Panel (Audience: Doctoral students) | <span class="date">Aug 2021</span> </li>
							</ul>
				</article>
				<br>

				<!-- Services -->
				<article>
					<h1> Services </h1>
						<h2 style="font-family: Oswald;"> Duke University, Durham, NC </h2>
							<ul><li> Student Facilitator  |  <span class="date">Aug 2022 - Present </span></li>
								<ul style="font-size: 0.9em;">
									<li> Ph.D. Students Coffees with Dr. Tanabe, Duke University School of Nursing </li>
								</ul>
							</ul>	

							<ul><li> Student Interview Panel  |  <span class="date">Aug 2023</span></li>
								<ul style="font-size: 0.9em;">
									<li> Senior Learning Specialist Hiring, Duke University School of Nursing </li>
								</ul>
							</ul>		

							<ul><li> Student Facilitator  |  <span class="date">Aug 2021 - May 2023 </span></li>
								<ul style="font-size: 0.9em;">
									<li> Ph.D. Program Partnership for Development, Duke University School of Nursing </li>
								</ul>
							</ul>
				</article>
				<br>

				<!-- Skills -->
				<article>
					<h1> Skills </h1>
						<h2 style="font-family: Oswald;"> Language Proficiency </h2>
						<ul>
							<li>Fluent in English </li>
							<li>Native in Korean</li>
							<li>Beginner in Spanish and Mandarin</li>
						</ul>
						<br>

						<h2 style="font-family: Oswald;"> Technical and Programming Skills </h2>
							<ul>
								<li>Statistical Analysis Programs: R, SAS, SPSS</li>
								<li>Programming Language: Python, HTML, CSS, JavaScript</li>
								<li>Research Methods: Quantitative research, qualitative research, mixed methods research</li>
									<li>Quantitative research methods: Univariate/multivariate methods, Generalized linear models, Mixed modeling, Structural equation modeling, Power analysis, Confidence intervals/Effect sizes, Multi-level modeling, Latent class/profile analysis, Data visualization</li>
									<li>Qualitative analysis: Content analysis, thematic analysis, rapid qualitative analysis, NVivo</li>
							</ul>
				</article>
				<br>

				<!-- Professional Service -->
				<article>
					<h1> Professional Service </h1>
						<h2 style="font-family: Oswald; display: none;"> Reviewer </h2>
							<ul style="display: none;">
								<li>Somewhere 2020 </li>
								<li>Somewhere 2020 </li>
								<li>Somewhere 2020 </li>
							</ul>
						<br>

						<h2 style="font-family: Oswald;"> Membersips in Professional Societies </h2>
							<ul>
								<li> Global Korean Nursing Foundation, Member <span class="date"> | 2023 - present </span></li>	
								<li> Sigma Theta Tau International, Beta Epsilon Chapter, Member <span class="date"> | 2022 - present </span></li>	
								<li> Southern Nursing Research Society, Member <span class="date"> | 2022 - present </span></li>	
								<li> American Thoracic Society, Member <span class="date"> | 2022 - present </span></li>	
								<li> Asian American Pacific Islander Nurses Association, Member <span class="date"> | 2022 - present </span></li>	
								<li> AcademyHealth, Member <span class="date"> | 2022 - present </span></li>	
								<li> North Carolina Korean Nurses Association, Member <span class="date"> | 2020 - present </span></li>	
								<li> Korean Society of Adult Nursing, Member <span class="date"> | 2020 - present </span></li>	
								<li> Korean Society of Nursing Science, Member <span class="date"> | 2020 - present </span></li>	
								<li> North Carolina Korean Nurses Association, Secretary and Treasurer <span class="date"> | 2021 - 2022 </span></li>	
								<li> Korean Nurses Association, Member <span class="date"> | 2015 - 2020 </span></li>
								<li> Korean Association of Critical Care Nurses, Member <span class="date"> | 2015 - 2019 </span></li>
								<li> Hospital Nurses Association, Member <span class="date"> | 2015 - 2019 </span></li>
												
							</ul>
						<br>
						
				</article>


			</div>
			<div class="clear"></div>
		</section>
		<!-- etc end --> {% endcomment %}



	<!-- Footer -->
	<footer class = "container-fluid text-center text-md-left" >
		<small> Copyright &copy; 2024 by HyunBin You. All rights reserved.</small>
	</footer>
	<!-- Footer end -->

	



	<!-- Bootstrap core Javascript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<!-- Plugin JavaScript -->
	
	<!-- Custom scripts for this template -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>	



	<!-- Clustrmaps -->
	<a href="https://clustrmaps.com/site/1b6j9" title="Visit tracker">
		<img width="0" height="0" src="//clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=m&d=cbYXmgWn_aU6ryXBNZQWyTsRKPze3YvgQZjD0uxBKsQ" />
	</a>
</body>
</html>
