html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
    }
    
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
    }
    
    html, body {background: #ffffff; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222; scroll-behavior: smooth;}
    
    .clear {clear: both;}
    
    p {
        font-size: 1.1em;
        line-height: 1.4em;
        color: #444;
        margin-left: 10px;
    }


    #content-container {
        width: 90%;
        max-width: 1000px;
        margin: 10px auto;
    }

    
    #entry-header h1 {
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
        color: #01151f;
        margin-bottom: 0.5em;
        padding-left: 0.3em;
    }

    #entry-header h1, #entry-header h1 a, #entry-header h1 a:visited, #entry-header h1 a:active {
        font-family: 'Oswald', sans-serif;
        color: #01151f;
        font-size: 1.5em;
        text-decoration-style: wavy;
        text-decoration-color: indianred;
        padding-left: 0.3em;
    }
    
    
    #entry-header h2, #entry-header h2 a, #entry-header h2 a:visited, #entry-header h2 a:active {
        font-size: 1em;
        margin-left: 2px;
        font-family: 'Oswald', sans-serif;
        color:#0B589B;
        clear: left;
    }

    .date {
        color: #959595;
    }

   

    #profile {
        width: 25%;
        float: left;
        margin-top: 1em;
        margin-right: 2em;
    }
    
    #profile img {
        width: 100%;
        height: auto;
        border-radius: 1.5em;
    }

    

    section {
        padding: 70px 0 0;
        border-bottom: 1px solid #dedede;
    }
    
    section:first-child {
        border-bottom: 1px solid #dedede;
    }
    
    section:last-child {
        padding: 50px 0 10px;
        border-bottom: 1px solid #dedede;

    }

    
    .sectionTitle {
        width: auto;
        padding: 10px 10px 10px 20px;
    }
        
    .sectionTitle h1 {
        font-family: 'Merriweather', serif;
        font-style: italic;
        font-size: 2.3em;
        color: #076d9f;
    }


    .sectionContent {
        font-family: 'Lato';
        font-size: 1em;
        width: 100%;
        padding-left: 1em;
        padding-right: 2em;
        
    }

    .sectionContent h1 {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-size: 1.8em;
        color: indianred;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    
    .sectionContent h2 {
        font-family: 'Lato';
        color: #01151f;
        font-size: 1.6em;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .sectionContent h3 {
        font-family: 'Lato';
        color: #01151f;
        font-size: 1.4em;
        margin-top: 1em;
        margin-bottom: 5px;
        margin-left: 20px;
    }

    .sectionContent h4, ul {
        font-family: 'Lato';
        color: #01151f;
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-left: 20px;
    }
   
    .sectionContent li {
        font-family: 'Lato';
        color: #01151f;
        font-size: 1em;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
    .subDetails {
        font-size: 0.8em;
        color: indianred;
        font-style: italic;
        margin-bottom: 3px;
    }

    #detailArticle {
        
    }

    @media all and (min-width: 202px) and (max-width: 500px) {
        #profile {
            display: none;
        }
        

    
    @media all and (max-width: 400px) {
        #content-container {
            width: 95%;
            margin: 10px auto;
            min-width: 350px;
        }
        
        #profile {
            display: none;
        }
        
        #entry-header {
            float: left;
            width: auto;
            font-size: medium;
        }
        

    }
        

    
    @media all and (max-width: 200px) {
        .mainDetails {
            padding: 5px 5px;
        }
        
        section {
            padding: 5px 0 0;
        }
        
        #mainArea {
            padding: 0 5px;
        }

        
        #entry-header h1 {
            line-height: .8em;
            margin-bottom: 4px;
        }

        #profile {
            display: none;
        }
    }

} 

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}